:markdown
  ## Social Login(s) provided by Hull

<% for(var i = 0; platforms.length > i; i++) { %>
<%if (platforms[i] === "Facebook") {%>
div(data-hull-component="login/button@hull", data-hull-provider="facebook")
<%} else if (platforms[i] === "Twitter") {%>
div(data-hull-component="login/button@hull", data-hull-provider="twitter")
<%} else if (platforms[i] === "GitHub") {%>
div(data-hull-component="login/button@hull", data-hull-provider="github")
<%}%>
<% } %>

:markdown
  **Note:** *If you are not seeing login buttons, be sure to check the following:*
  * Make sure your correct Hull credentials are in `assets/js/config.coffee`.
  * Refer to [these docs](http://hull.io/docs/references/services) to properly set up your authentication services.
