!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Blue Chair Bay Anniversary')
    meta(name='author', content= "Carrot Creative")

    title <%= title || "Roots+Hull" %>

    link(rel='stylesheet', href='css/master.css')

  body
    h1 Welcome to the Sprout Roots + Hull Template!

    <%if (platforms.length) {%>include _social_logins<%}%>

    != content

    script(data-main="/js/main", src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js")
